JetBrains/
argocd/
helm/
htop/
Slack/
Thunar/
btop/
dconf
evolution/sources/
tmux/plugins/
xfce4/
google-chrome/
pulse/
gatsby
gcloud/
glab-cli/
.idea
nvim.bak/
.gsd-keyboard.settings-ported
nvim_backup/
configstore/
gnome-initial-setup-done
mimeapps.list
monitors.xml
user-dirs.dirs
user-dirs.locale
Todoist
obsidian
spotify
